/* A SUPPRIMER */
body {
  background-color: red;
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-family: "poppins";
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "poppins";
}

body {
  overflow-x: hidden;
  max-width: 1920px;
}
